playwright
ollama
langgraph
langchain
langchain-community
langchainhub
langchain-core
langchain-ollama
scholarly
django
celery
redis
pyalex
langchain_google_genai
langchain-openai
pydantic
flower
pyrogram
tgcrypto
yagmail